/* CSS Document */
@CHARSET "UTF-8";
html, body, .page { height: 100%; }
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: "Microsoft YaHei", Arial, Narrow, Helvetica, sans-serif; }
.am-form-horizontal>.am-form-group>[class*=am-u-]{padding-left: 0px;}

.sjr-vilidCode{position: absolute;right: 2%;float: right;top: 0px;height: 100%;border-radius: 9px;}



